*.elf
*.o
*.d
*.su
*.mk
makefile
*.list
Drivers*
*.s
*.map
*.cmake
*.ld
*.make
*.ts
*.marks
*.rsp
build
_deps
CMakeFiles
*vcx*
*Cache*
*.sln
*.exe
*.lib
stm32*
*stm32*
*db
*vsidx
*suo
settings.json
*lock
*ipch